<nav class="navbar">
  <a class="navbar-brand" href="/">
    <img src="/images/kainos_logo.png" alt="Kainos logo" class="navbar-logo" />
     "Working title"
  </a>
  <ul class="navbar-links">
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/users/add">Add User</a></li>
  </ul>
</nav>