<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job Role</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/kainos_favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('partials/navBar') %>
    <h1>Add Job Role</h1>

    <form action="/job-roles/add" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="level">Level</label>
        <input type="text" id="level" name="level" required>

        <label for="capability">Capability</label>
        <input type="text" id="capability" name="capability" required>

        <label for="description">Description</label>
        <textarea id="description" name="description" required></textarea>

        <button type="submit">Add Job Role</button>
    </form>

    <%- include('partials/footer') %>
</body>
</html>
